
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:5500px; margin-left:50px;">
        <article class="card-body">
            <div class="content-wrapper">
                <header class="mb-4"><h4 class="text-danger">Trang thanh toán</h4></header>
                <div class="form-group">
                    <h2>Thanh Toán thành công</h2>
                    <div class="card-body border-top">
                        <a href="@Url.Action("Index", "Home/Index")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                    </div>

              
            </div>
    </div>
    </article>
    </div>
</section>