
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Full Screen Search Start -->


<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
               
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="img/blog-1.jpg" alt="">
                    <h1 class="mb-4"> 10 điện thoại camera ngang siêu ấn tượng</h1>
                    <p>
                        1. Tiêu chí chọn mua điện thoại
                        Tiêu chí

                        Nội dung
                        Kích thước màn hình

                        Màn hình khoảng 5 inch đến 6 inch sẽ nhỏ gọn tiện lợi giúp người dùng dễ cầm nắm và có độ lớn vừa phải giúp người xem có những trải nghiệm khá ổn khi xem và làm việc.

                        Độ phân giải

                        Chọn những chiếc điện thoại có độ phân giải cao (1.280 x 720 pixel hoặc cao hơn), màn hình Retina hoặc màn hình OLED để hiển thị văn bản hoặc hình ảnh tốt hơn.

                        Màn LCD là IPS và S-LCD cho màu sắc chính xác và góc xem tuyệt vời còn màn hình AMOLED lại mang đến khả năng nịnh mắt, rực rỡ về màu sắc.

                        Camera

                        - Có chức năng chụp cận cảnh (Macro) chức năng này sẽ giúp bạn có thể chụp mọi vật nhỏ bé một cách thật chi tiết, rõ ràng và sắc nét.

                        - Có thể chụp góc rộng giúp bạn có thể chụp được nhiều chi tiết hơn không cần di chuyển nhiều vẫn có thể chụp được không gian lớn.

                        Dụng lượng pin

                        - Từ 3000 - 5000mAh: Điện thoại có dung lượng pin từ 300mAh - 5000mAh, sử dụng khoảng 1 - 3 ngày.

                        - Pin khủng trên 5000mAh: Pin siêu trâu trên 5000mAh.

                        - Kết hợp sạc nhanh: Điện thoại có kết hợp sạc nhanh để thuận tiện hơn, tiết kiệm thời gian để sạc đầy khi sử dụng.


                    </p>
                    <p>
                        2. TOP 10 điện thoại camera ngang đang có mặt tại TGDĐ
                        Điện thoại OPPO A16K

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.52 inch.

                        - Hệ điều hành: Android.

                        - RAM: 3 GB.

                        - Dung lượng pin: 4230 mAh.

                        OPPO A16K trình làng với diện mạo thời thượng, tích hợp trình tối ưu hóa phần mềm System Booster kết hợp RAM 3 GB, bộ nhớ trong 32 GB hỗ trợ dung lượng lưu trữ có thể mở rộng lên đến 1 TB.

                        Cụm camera sau được xếp trong module hình vuông trong đó có 1 camera với độ phân giải 13 MP, hỗ trợ Al, đèn flash LED cùng các chức khác như xóa phông, chế độ toàn cảnh (Panorama),... cho ra đời những bức ảnh lung linh, độ nét cao.

                        Hệ thống camera giúp bạn tỏa sáng với vẻ đẹp tự nhiên

                        Hệ thống camera giúp bạn tỏa sáng với vẻ đẹp tự nhiên

                        Điện thoại Xiaomi Redmi 9C (4GB/128GB)

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.53 inch.

                        - Hệ điều hành: Android 10.

                        - RAM: 4 GB.

                        - Dung lượng pin: 5000 mAh.

                        Điện thoại Xiaomi Redmi 9C (4GB/128GB) có thiết kế nguyên khối hiện đại, chống bám vân tay tốt. Màn hình tràn viền dạng giọt nước có kích thước lớn 6.53 inch cho bạn một không gian trải nghiệm được thoải mái hơn.

                        Sản phẩm sở hữu cụm 3 camera phía sau được thiết kế nằm trong khối hình vuông gọn gàng và được tích hợp trí tuệ nhân tạo AI hỗ trợ chụp ảnh sắc nét. Hiệu năng ổn định và bộ nhớ trong lớn 128 GB.

                        Không gian trải nghiệm thoải mái

                        Không gian trải nghiệm thoải mái

                        Điện thoại POCO C40

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.71 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 4 GB.

                        - Dung lượng pin: 6000 mAh.

                        Điện thoại POCO C40 sở hữu thiết kế camera sau khá độc đáo, bức ảnh được chụp từ sản phẩm này có độ chi tiết khá tốt, hình ảnh hài hòa và khá chân thực. Màn hình rộng kèm tấm nền IPS LCD nâng cao trải nghiệm hình ảnh.

                        Chiếc máy sở hữu ngoại hình đầy màu sắc và năng động. Cấu hình khá cơ bản trong tầm giá nhưng lại được trang bị viên pin khủng lên đến 6000 mAh.

                        Ngoại hình đầy màu sắc

                        Ngoại hình đầy màu sắc

                        Điện thoại Xiaomi Redmi 10C 64GB

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.71 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 4 GB.

                        - Dung lượng pin: 5000 mAh.

                        Xiaomi Redmi 10C 64GB mang đến không gian giải trí lớn hơn cho người dùng với màn hình 6.71 inch, độ phân giải HD+. Phần camera sau và cảm biến vân tay được tích hợp vào chung một cụm với kích thước khá lớn, mang đến một cái nhìn cực kỳ thu hút và đây là điều làm mình ấn tượng trên chiếc máy này.

                        RAM 4 GB mang đến khả năng xử lý tác vụ mượt mà. Nhờ được trang bị viên pin 5000 mAh, bạn có thể thoải mái sử dụng suốt cả ngày mà không lo về vấn đề pin.

                        Camera tích hợp nhiều tính năng

                        Camera tích hợp nhiều tính năng

                        Điện thoại Realme C21-Y 3GB

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.5 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 3 GB.

                        - Dung lượng pin: 5000 mAh.

                        Nổi bật ở mặt lưng chính là cụm camera giúp bắt trọn mọi chi tiết. Trong đó, camera chính độ phân giải cao 13 MP mang tới những bức ảnh sắc nét và sáng rõ cùng tính năng siêu chụp đêm, chụp ảnh hiệu quả kể cả trong đêm tối.

                        Realme C21-Y 3GB mang vẻ ngoài ấn tượng, với 2 gam màu thời thượng là xanh và đen. Hiệu năng ổn định giúp đáp ứng tốt nhu cầu sử dụng cùng viên pin dung lượng lên đến 5000 mAh.

                        Thiết kế hình học độc đáo

                        Thiết kế hình học độc đáo

                        Điện thoại OPPO A15s

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.52 inch.

                        - Hệ điều hành: Android 10.

                        - RAM: 4 GB.

                        - Dung lượng pin: 4230 mAh.

                        OPPO A15s là một chiếc smartphone hướng đến khách hàng tầm trung với cấu hình tốt, hiệu năng đủ cho nhu cầu cơ bản, màn hình sắc nét với thời lượng pin lớn, có thể thoải mái sử dụng ngày dài.

                        Chiếc điện thoại này sở hữu vẻ ngoài cá tính, trẻ trung với mặt kính cường lực Corning Gorilla Glass 3 tăng thêm phần sang trọng. Cụm 3 camera ở mặt sau nằm trong mô-đun hình vuông gọn gàng về phía cạnh trái, có đèn flash LED và được tích hợp công nghệ AI.

                        Màn hình giải trí sắc nét

                        Màn hình giải trí sắc nét

                        Điện thoại Realme C25Y 64GB

                        - Công nghệ màn hình: IPS LCD.

                        - Màn hình rộng: 6.5 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 4 GB.

                        - Dung lượng pin: 5000 mAh.

                        Realme C25Y 64GB là một sản phẩm đáng sở hữu với mức giá tốt, bộ 3 camera AI hiện đại lên đến 50MP. Bên cạnh kiểu dáng trẻ trung hiện đại, khung và mặt lưng được chế tạo từ nhựa với các vân nổi chạy dọc theo máy giúp hạn chế bám mồ hôi và vân tay khi sử dụng.

                        Điện thoại RAM 4 GB mang đến khả năng đa nhiệm mượt mà, cùng bộ nhớ trong 64 GB đáp ứng nhu cầu lưu trữ cho một vài ứng dụng cùng một lượng hình ảnh không quá lớn. Thời gian sử dụng lâu dài nhờ được trang bị viên pin 5000 mAh.

                        Hình ảnh hiện thị rõ nét

                        Hình ảnh hiện thị rõ nét

                        Điện thoại Samsung Galaxy A22

                        - Công nghệ màn hình: Super AMOLED.

                        - Màn hình rộng: 6.4 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 6 GB.

                        - Dung lượng pin: 5000 mAh.

                        Samsung Galaxy A22 nâng cao trải nghiệm người dùng nhờ cung cấp gam màu rực rỡ cho khả năng hiển thị sống động và tiết kiệm điện năng tối ưu.Tính năng bảo mật vân tay bên hông máy giúp bảo vệ thông tin an toàn hơn. RAM 6GB giúp xử lý mượt mà mọi tác vụ.

                        Bộ camera sở hữu thông số ấn tượng với camera chính lên đến 48 MP và tích hợp nhiều tính năng như lấy nét theo pha, xóa phông, HDR, chống rung quang học OIS,... giúp người dùng chụp các chi tiết xung quanh cuộc sống một cách đẹp và tự nhiên nhất.

                        Hiệu năng ổn định, mượt mà

                        Hiệu năng ổn định, mượt mà

                        Điện thoại Samsung Galaxy M33 5G

                        - Công nghệ màn hình: TFT LCD.

                        - Màn hình rộng: 6.6 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 6 GB.

                        - Dung lượng pin: 5000 mAh.

                        Samsung Galaxy M33 gây ấn tượng với màn hình vô cực Infinity-V tần số quét 120 Hz, cuộn lướt mượt mà. Bộ 4 camera đẳng cấp flagship cho ra đời những bức ảnh chất lượng cao.

                        Vi xử lý Exynos 1280 cùng với bộ RAM 6 GB giúp bạn chiến mọi tựa game một cách mượt mà.Chất lượng hội thoại tốt hơn với Mic Mode, công nghệ sạc nhanh 25W giúp tiết kiệm thời gian sạc.

                        Camera chất lượng cho ra bức ảnh có độ chi tiết cao

                        Camera chất lượng cho ra bức ảnh có độ chi tiết cao

                        Điện thoại Realme 8 Pro

                        - Công nghệ màn hình: Super AMOLED.

                        - Màn hình rộng: 6.4 inch.

                        - Hệ điều hành: Android 11.

                        - RAM: 8 GB.

                        - Dung lượng pin: 4500 mAh.

                        Realme 8 Pro trình làng với vẻ ngoài sang trọng và ấn tượng, nổi bật ở mặt lưng là logo “DARE TO LEAP” lớn. Bạn có thể khám phá nhiếp ảnh đầy sáng tạo với bộ 4 camera AI lên đến 108 MP, selfie tuyệt đẹp.

                        Màn hình Super AMOLED với tần số 180 Hz mang đến trải nghiệm hình ảnh và chơi game tốt hơn. Sở hữu công nghệ sạc siêu tốc SuperDart Charge 50W, bạn sẽ chỉ mất chưa đầy 1h để sạc 100% pin.
                    </p>
                </div>
                <!-- Blog Detail End -->
                <!-- Comment List Start -->
                <div class="mb-5">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">1 bình luận</h3>
                    </div>
                    <div class="d-flex mb-4">
                        <img src="~/Content/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01/5/2021</i></small></h6>
                            <p>
                                good
                            </p>
                            <button class="btn btn-sm btn-light">Trả lời</button>
                        </div>
                    </div>
                    @*<div class="d-flex mb-4">
                        <img src="~/Content/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>
                                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod
                            </p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>
                    <div class="d-flex ms-5 mb-4">
                        <img src="~/Content/img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                            <p>
                                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod
                            </p>
                            <button class="btn btn-sm btn-light">Reply</button>
                        </div>
                    </div>*@
                </div>
                <!-- Comment List End -->
                <!-- Comment Form Start -->
                @*<div class="bg-light rounded p-5">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Leave A Comment</h3>
                    </div>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>*@
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <!--<div class="col-lg-4">-->
            <!-- Search Form Start -->
            <!--<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>-->
            <!-- Search Form End -->
            <!-- Category Start -->
            <!--<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                    <h3 class="mb-0">Categories</h3>
                </div>
                <div class="link-animated d-flex flex-column justify-content-start">
                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Web Design</a>
                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Web Development</a>
                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Web Development</a>
                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Keyword Research</a>
                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i class="bi bi-arrow-right me-2"></i>Email Marketing</a>
                </div>
            </div>-->
            <!-- Category End -->
            <!-- Recent Post Start -->
            @*<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title section-title-sm position-relative pb-2 mb-2">
                    <h3 class="mb-5">Recent Post</h3>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="~/Content/img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">
                        Lorem ipsum dolor sit amet adipis elit
                    </a>
                </div>
            </div>*@
            <!-- Recent Post End -->
            <!-- Image Start -->
            <!--<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                <img src="~/Content/img/blog-1.jpg" alt="" class="img-fluid rounded">
            </div>-->
            <!-- Image End -->
            <!-- Tags Start -->
            <!--<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                    <h3 class="mb-0">Tag Cloud</h3>
                </div>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-light m-1">Design</a>
                    <a href="" class="btn btn-light m-1">Development</a>
                    <a href="" class="btn btn-light m-1">Marketing</a>
                    <a href="" class="btn btn-light m-1">SEO</a>
                    <a href="" class="btn btn-light m-1">Writing</a>
                    <a href="" class="btn btn-light m-1">Consulting</a>
                    <a href="" class="btn btn-light m-1">Design</a>
                    <a href="" class="btn btn-light m-1">Development</a>
                    <a href="" class="btn btn-light m-1">Marketing</a>
                    <a href="" class="btn btn-light m-1">SEO</a>
                    <a href="" class="btn btn-light m-1">Writing</a>
                    <a href="" class="btn btn-light m-1">Consulting</a>
                </div>
            </div>-->
            <!-- Tags End -->
            <!-- Plain Text Start -->
            <!--<div class="wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title section-title-sm position-relative pb-3 mb-4">
                    <h3 class="mb-0">Plain Text</h3>
                </div>
                <div class="bg-light text-center" style="padding: 30px;">
                    <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>
                    <a href="" class="btn btn-primary py-2 px-4">Read More</a>
                </div>
            </div>-->
            <!-- Plain Text End -->
        </div>
        <!-- Sidebar End -->
    </div>
</div>
</div>
<!-- Blog End -->
<!-- Vendor Start -->
@*<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="img/vendor-1.jpg" alt="">
                    <img src="img/vendor-2.jpg" alt="">
                    <img src="img/vendor-3.jpg" alt="">
                    <img src="img/vendor-4.jpg" alt="">
                    <img src="img/vendor-5.jpg" alt="">
                    <img src="img/vendor-6.jpg" alt="">
                    <img src="img/vendor-7.jpg" alt="">
                    <img src="img/vendor-8.jpg" alt="">
                    <img src="img/vendor-9.jpg" alt="">
                </div>
            </div>
        </div>
    </div>*@
<!-- Vendor End -->
